<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/campus_hibernate?serverTimezone=Europe/Rome&amp;connectTimeout=200</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.pool_size">2</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.id.new_generator_mappings">true</property>
		<property name="hibernate.show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">create</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		
		<mapping class="model.Utente"/>
		<mapping class="model.Facolta"/>
		<mapping class="model.Prenotazione"/>
		<mapping class="model.Account"/>
		<mapping class="model.Corso"/>
		<mapping class="model.Studente"/>
		<mapping class="model.ProfessoriCorsi"/>
		<mapping class="model.Professore"/>
		<mapping class="model.DataAppello"/>
		<mapping class="model.Esame"/>
		
	</session-factory>
</hibernate-configuration>
