@CHARSET "ISO-8859-1";

.header{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

.header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.header li.left-side{
  float: left;
}

.header li.right-side{
  float: right;
}

.header li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
	
}

.header li a:hover {
  background-color: #111;
}

.header-distance{
	height: 45px;
}